.editor-styles-wrapper img {
	max-width: 100% !important;
}

.wp-block-dominicvogl-team-members {
	display: block;

	.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		grid-gap: var(--gap-medium);

		> [data-type="dominicvogl/team-member"] {
			width: 100%;
		}
	}

}
