/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

*, *:before, *:after {
	box-sizing: border-box;
}

.wp-block-create-block-boilerplate {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.wp-block-dominicvogl-team-members {
	display: flex;
	flex-wrap: wrap;
	margin-inline: -1rem;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			.wp-block-dominicvogl-team-member {
				width: calc(100% / #{$i} - 2rem);
			}
		}
	}
	.wp-block-dominicvogl-team-member {
		margin-inline: 1rem;

		h4 {
			color: var(--wp--preset--color--brand-color-text-secondary);
			font-weight: bold;
			font-size: 1.3em;
		}
	}

}
